  body {
    --light-color:white;
    --dark-color:darkslategrey;
    --border-dark-color:crimson;
    --border-light-color: white;
    --border-ultra-dark-color:black;
    
    
    --animation-color1:#155263;
    --animation-color2:#ff6f3c; 
    --animation-color3:#ff9a3c; 
    --animation-color4:#ffc93c; 
    --animation-color5:#e9da3a;
    
  --button-color: white;
  --button-background-color:grey;

    }
    
    
    aside {

      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      width: 100%; 
      margin: 0 auto;
      padding: 10px; 
      background-color: var(--light-color);   
      border-bottom: 0.2svw solid var(--border-ultra-dark-color); 
    }
      
    aside section {
      display: flex;
      flex-direction:row;
      justify-content: space-evenly;
      align-items: center;
      width: fit-content;
      height:fit-content;
      width: 33.333%; 
      font-size: 2vw;
      margin-right: 2vw;
      /* for development only */
      /* border: 2px solid var(--border-ultra-dark-color);  */

    }


    .img_logo {
      height: auto; 
      width: 10svw;
      /* aspect-ratio: 1/1; */
    }
    
    
    .btn_start {
      height: fit-content;
      width:fit-content;
      background-color: var(--dark-color);
      color: var(--light-color);
      border-radius: 10px; 
      padding-left:1svw;
      padding-right:1svw;
      padding-top:0.4svw;
      padding-bottom:0.5svw;
      /* margin: 1svw; */ 
    }
    

        
    .btn_explore {
      height: auto;
      width: auto;
      background: transparent; 
      border: none; 
      padding: 1svw;
    }


    .btn_create {
      height: auto;
      width: auto;
      /* aspect-ratio: 1/1; */
      background: transparent;
      border: none; 
    }

    .btn_search {

height: 50px;

    }



    
/* 
  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */

  /* Tooltip styles */
  .tooltip {
    position: relative;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 3svw;
    background-color: var(--button-background-color);
    color: var(--button-color);
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 125%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .img_bell {
    height: 4svh; 
    width: auto;
    /* margin-right:20svh; */

  }

  .img_dialogbox {
    height: 4svh; 
    width: auto;
    /* margin-right:40svh; */
  }

/* media queries */

@media screen and (min-width:188)and (max-width: 200px){

}



@media screen and (min-width:201)and (max-width: 378px){
  
}

@media screen and (min-width:379)and (max-width: 430px) {
  
}

@media screen and (min-width:431)and (max-width: 666px){

}

@media screen and (min-width:667) and (max-width: 1000px) { 
  
}

@media screen and (min-width:1001)and (max-width: 1318px) {

}

@media screen and (min-width:1319)and (max-width: 1706px) {
    
  aside {
     background-color: red; 
    }
    
  .invisible1 {
      display:none; 
    }


    .invisible2 {
      display:none; 
    }

    .invisible3 {
      display:none; 
    }
    .invisible5 {
      display:none; 
    }
}

@media screen and (min-width:1707)and (max-width: 2500px) {
  
}


   /* ********************/



  /* @media screen and (max-width: 1544px) {

  .invisible1 {
    display:none; 

  }
  }

  @media screen and (max-width: 1431px) {
  .invisible2 {
    display:none;
  }
  
  }


  @media screen and (max-width: 1300px) {
    .invisible3 {
      display:none;
    }
    .section3 {
      width:5px; 
    }
  aside section {
    margin:0;
  }
  
    }

    @media screen and (max-width: 1200px) {
      .invisible3 {
        display:none;
      }
      .section3 {
        display:none;
      }

      aside {
        padding:0;
      }
     
      }
      @media screen and (max-width: 607px) {
        .invisible4 {
          display:none;
        }   
        }


        @media screen and (max-width: 300px) {
          .invisible5 {
            display:none;
          }   

          }
   */