
.card {
  width: 18svh;
  height:auto;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 5vh;
  color: #666;
  margin: 0.5svw;
}


.card:hover {
  transform: scale(1.05);
  border: 1svh solid #333;
}


/* ***************** */




@media screen and (min-width: 540px) {

}

@media screen and (min-width: 743px) {

}




