
.card {
  width: auto;
  height:6rem;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 #104faf;
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 5vh;
  /* color: #104faf; */
  background-color: red;
  }


.card:hover {
  transform: scale(1.05);
 
}



/* ***************** */



@media screen and (min-width:188px)and (max-width: 781px) {




}


@media screen and (min-width:782px) and (max-width: 1000px) { 

  }




